.panel {
    position: relative;
    top:8px;
}

.media-object {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.img-1 {
    position: relative;
    top: 10px;
    display: block;
    width: 78%;
    margin: auto;
    border: 2px rgb(69, 233, 20) solid;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    overflow: hidden;
    size: 300px 200px
}
.img-2 {
    position: relative;
    top: 10px;
    display: block;
    width: 74%;
    margin: auto;
    border: 2px rgb(233, 20, 20) solid;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    overflow: hidden;
}
.img-3 {
    position: relative;
    top: 10px;
    display: block;
    width: 53%;
    margin: auto;
    border: 2px rgb(35, 3, 151) solid;
    overflow: hidden;
}
.img-4 {
    position: relative;
    top: 10px;
    margin:auto;
    display: block;
    width: 87%;
    border: 2px rgb(233, 148, 20) solid;
    overflow: hidden;
}
.jumbotron {
    background-image: url('images/deep-blue-sea-blue-deep-2859668-1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: 1600px 800px;
}
.subject {
    color: white !important;
    text-shadow: 3px 1px rgb(180, 22, 146);
    font-family: 'Assistant', sans-serif;
}
.query {
    color: rgb(22, 14, 15);
    background-color: rgba(226, 228, 113, 0.3);
    font-family: 'Open+Sans', sans-serif;
}
.btn-lg {
    float: right;
    display: inline;
    margin-right: 30px;
}
h3 {
    font-size: 90%;
}
.col-md-3{
    border-style: groove;
}
h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
}
.footer {
    margin-top: 30px;
    position: relative;
    text-align: center;
    background-color: rgb(7, 37, 102);
    clear: both;
    font-weight: 400;
    color: white;
}
.register{
    text-align: center;
    background-color: #333;
    color: rgb(56, 202, 247);
}
#back{
    position: relative;
    left: 300px;
    font-family: Ruda;
    font-size: 120%;
}
#backButton{
    position: relative;
    right: 400px;
    bottom: 43px;
}