.media-object {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.img-1 {
    display: block;
    width: 78%;
    margin: auto;
    border: 2px rgb(69, 233, 20) solid;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    overflow: hidden;
    size: 300px 200px
}
.img-2 {
    display: block;
    width: 74%;
    margin: auto;
    border: 2px rgb(233, 20, 20) solid;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    overflow: hidden;
}
.img-3 {
    display: block;
    width: 55%;
    margin: auto;
    border: 2px rgb(35, 3, 151) solid;
    overflow: hidden;
}
.img-4 {
    display: block;
    width: 95%;
    border: 2px rgb(233, 148, 20) solid;
    overflow: hidden;
}
.jumbotron {
    background-image: url('images/deep-blue-sea-blue-deep-2859668-1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: 1600px 800px;
}
.text {
    color: white !important;
    text-shadow: 3px 1px rgb(180, 22, 146);
    font-family: 'Assistant', sans-serif;
}
.query {
    color: rgb(22, 14, 15);
    background-color: rgba(226, 228, 113, 0.3);
    font-family: 'Assistant', sans-serif;
}
button {
    float: right;
    display: inline;
    margin-right: 30px;
}
h3 {
    font-size: 90%;
}
.col-md-3{
    border-style: groove;
    height: 390px;
}
#reset{
    color: grey !important;
}